version: "3.9"

services:

  api:
    image: ghcr.io/2024aa05086/cats-dogs-inference:api
    ports:
      - "8000:8000"
    environment:
      - MODEL_PATH=/app/models/model.keras
      - LABEL_MAP_PATH=/app/models/label_map.json
    volumes:
      - ./models:/app/models:ro
      - ./logs:/app/logs
    restart: unless-stopped

  ui:
    image: ghcr.io/2024aa05086/cats-dogs-inference:ui
    ports:
      - "7860:7860"
    environment:
      - API_URL=http://api:8000/predict
    depends_on:
      - api
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    depends_on:
      - api

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-storage:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  grafana-storage:
